@font-face {
  font-family: Baton;
  src: url("/fonts/Baton-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Baton;
  src: url("/fonts/Baton-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: CIRCa-Tampona;
  src: url("/fonts/CIRCa-Tampona.otf") format("truetype");
  font-weight: normal;
}
